<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="aspnetTitle">ASP.NET</h1>
        <p class="lead">The St Genetics API provides endpoints for consuming functions for transactions and management of animals and their respective sales.</p>
    </section>
    <div class="row">
        <section class="col-md-4" aria-labelledby="gettingStartedTitle">
            <h2 id="gettingStartedTitle">Getting started</h2>
            <p>To start, please go to the API tab located in the top menu where you will find the endpoints for the management of animals and purchases.</p>
        </section>
    </div>
</main>